<!--
  Generated template for the DetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalle</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button color="secondary" round (click)="onEditar()">
    Editar
  </button>
  <button ion-button color="danger" round (click)="onEliminar()">
    Eliminar
  </button>
</ion-content>
