
<ion-content padding id="bienvenida">

  <h1>Bienvenido a HomeBrain</h1>
  <div>Control a un click</div>

  <button ion-button full round color="secondary" (click)="login()" class="margenTop" >Iniciar sesión</button>
  <button ion-button full round color="danger" (click)="registrar()">Registrarse</button>  
</ion-content>
