<!--
  Generated template for the EliminarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Eliminar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Eliminar archivos.
</ion-content>
