
<ion-content padding>

  <ion-list>
    
    <ion-item>
      <ion-label floating>Usuario</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    
  </ion-list>

  <div padding style="align-content: center">
      <button ion-button color="secondary" full round (click)="inicio()">Iniciar sesión</button>
  </div>

</ion-content>
